<nav>
  <h3>EMPLOYEE CATALOGUE</h3>
</nav>

<div class="mainContainer">
<div>

<form class="myform" [formGroup]="addForm" (ngSubmit)="addEmployee()">
<h4>Add Employee Data</h4>
  <input type="text" name="name" placeholder="Enter Name" ngModel formControlName="name" >
  <input type="email" name="email" placeholder="Enter Email" ngModel formControlName="email" >
  <input type="text" name="designation" placeholder="Enter Designation" ngModel formControlName="designation" >
  <input type="number" name="salary" placeholder="Enter Salary" ngModel formControlName="salary" >
  <div>
  <div id="reset" (click)="resetAll()">Reset</div>
<button *ngIf="isEdit===false" type="submit">Add Employee</button>
<button *ngIf="isEdit===true" type="submit">Update Employee</button>
</div>
</form>
</div>

<div>
  <h4 id="h4">Employee List</h4>
  <input class="Search"
type="text" (input)="applyfilter($event)" placeholder="Search...">
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Employee Name</th>
      <th>Email</th>
      <th>Designation</th>
      <th>Salary</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of Alldata; let indexOfElement=index ">
    <tr>
      <td>{{indexOfElement + 1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.designation}}</td>
      <td>{{user.salary}}</td>
      <td>
        <button (click)="editEmployee(user, indexOfElement)">📝</button>
        <button (click)="deleteEmployee(indexOfElement)">❌</button>
      </td>
    </tr>
  </tbody>

</table>
<div style="text-align: center; width: 100%; margin-top: 10px; font-family: Arial, Helvetica, sans-serif; 
letter-spacing: 2px; color: red;" *ngIf="Alldata.length===0">No Data Found !</div>

 <button class="deleteButton" (click)="deleteAllData()">Delete All Data</button>
</div>

</div>