/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: cursive; */
}
button:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    opacity: 0.8;
}